@model GorevYonetimSistemi.Entities.Concretes.ToDoTask

<h1>Delete Task</h1>

<div>
    <h4>Silmek istediğinize emin misiniz?</h4>
    <div>
        <h5>Title: @Model.Title</h5>
        <h5>Description: @Model.Description</h5>
        <h5>Creation Date: @Model.CreationDate.ToString("yyyy-MM-dd")</h5>
        <h5>Status: @Model.Status</h5>
    </div>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
